nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1rem 5rem;
}
.profile-links{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}
.site-title{
    font-size: 2rem;
}
