.sign-up{
    display: flex;
    flex-direction: column;
    width: 20%;
    align-self: center;
}
.create-user{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1.5rem;
    background-color: #fff;
}
.btn-signup{
    margin: 1rem 0 2rem 0;
    background-color: #467fd0;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 0.5rem;
}
.description-site{
    margin-bottom: 2rem;
    text-align: center;
}