*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Gochi Hand', cursive;
  /* font-family: 'Inter', sans-serif;
  font-family: 'Karla', sans-serif;
  font-family: 'Readex Pro', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



